 .container {
    background: white;
    display:flex;

 }
 .item {
     background: white;
     width: 50%;
     height: 300px;
     text-align: center;
     padding: 5px;
     margin: 5px;
 }
 table{
    border-collapse: collapse;
    margin: 10px;
    text-align: center;
    
}
tr{
    margin: 10px;
    text-align: center;  
}
td{
     text-align: center;
     width: 80px ;
     height: 40px;
     padding: 5px;
     
 }

 
  
  